.Timer {
  font-family: sans-serif;
  color: #333;
  font-weight: 100;
  text-align: center;
  font-size: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Timer__block {
  padding: 10px;
  border-radius: 3px;
  background: #444;
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  width: 75px;
}

.Timer__label {
  padding-top: 5px;
  font-size: 18px;
  color: white;
}

.Timer__value {
  padding: 15px;
  border-radius: 3px;
  background: #ffd54f;
  display: inline-block;
  font-weight: bold;
  font-family: 20px;
}

.Timer__summary {
  font-size: 1rem;
  width: 100%;
  color: #fff;
}
